body{
	margin: 0;
	padding: 0;
	font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	background-color: #e4e4e4;
}

/* Inicio de primer nav */

.primer_nav{
	border-bottom: solid 2px #ccc;
	height: 18px;
	max-width: 100%;
	padding: 10px 80px;
	background-color: #fff;
}

.text-bienv{
	width: 20%;
	float: left;
}

h5{
	margin: 0px;
	font-weight: 100;
	color: #999;
	font-size: 15px;
}

.nav_inicial{
	width: 80%;
	float: left;
	text-align: right;
}

.nav_inicial ul{
	margin: 0px;
}

.nav_inicial ul li{
	display: inline-block;
	color: #999;
	font-size: 15px;
	padding: 0 20px;
	border-right: solid 1px #999;

}

.nav_inicial ul li a{
	color: #999;

}

.nav_inicial ul li:last-child{
	border-right: none;
	padding: 0 0 0 20px;

}


/* Fin de primer nav */

/* Inicio de segunda parte del header */

.inicio{
	height: 80px;
	background-color: #fff;
	padding: 45px 80px;

}

.logo{
	height: 80px;
	width: 20%;
	float: left;
}

.buscador_contenedor{
	width: 50%;
	float: left;
	margin: 1.5% 6%;
	border: solid 3px #0087ca;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
}

.buscador{
	width: 60%;
	height: 44px;
	
	float: left;
}

#buscar{
	height: 100%;
	width: 90%;
	border:none;
	background-color: transparent;
	padding: 0 5%;
	font-size: 17px;
	float: left;
}

.b_separador{
	width: 2px;
	height:30px;
	background-color: #ccc;
	float: left;
	margin: 1.2% 0;
}

.b_categoria{
	width: 23%;
    float: left;
    padding: 2% 1.5%;
}

select {
    box-sizing: border-box;
    color: #999;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 17px;
    width: 100%;
}

.b_boton{
	width: 13.64%;
	height: 45px;
	background-color: #0087ca;
	float: left;
	border-radius: 0px 35px 35px 0px;
}

.b_boton_icon{
	background-color: transparent; 
	border:none; 
	width: 100%; 
	height: 44px; 
	padding: 0 10% 0 0; 
	cursor: pointer;
}

.search_icon{
	font-size: 21px; 
	color: #fff;
}

.cart_contenedor{
	width: 17%;
    height: 22px;
    float: left;
    padding: 29px 0;
}

.favoritos{
	width: 50%;
	float: left;
	text-align: center;

}

.fav_icon{
	font-size: 22px; 
	color: #0087ca;
}

.cart{
	width: 50%;
	float: left;
	text-align: center;
}

.cart_icon{
	font-size: 22px; 
	color: #0087ca;
}

.numb{
	background-color: #ffa013;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 15px;
	text-align: center;
	color: #fff;
	font-weight: 900;
	z-index: 9;
	float: right;
	position: relative;
	top: 10px;
	left: -35px;
}
/* Fin de segunda parte del header */
/* Inicio NAV */

.navegador{
	background-color: #0087ca;
	max-width:100%;
	padding: 0px 80px;
}

.navegador ul{
	text-align: center;
    padding: 18px;
    margin: 0px;
}

.navegador ul li{
	display: inline-block;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	padding: 0 20px;
	border-right: solid 1px #fff;
}

.navegador ul li:last-child{
	padding: 0 0 0 20px;
	border-right: none;
}

.navegador ul li a{
	color: #fff;
}

a{
	text-decoration: none;
}

/* Fin NAV */
/* Inicio Banner */

.banner_container{
	width: 100%;
	height: 400px;
	background-image: url("./images/banner1.jpg");
}


/* Fin Banner */




