body{
	margin: 0;
	padding: 0;
	font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	background-color: #fff;
}

/* Inicio de primer nav */

.primer_nav{
	border-bottom: solid 2px #ccc;
	height: 18px;
	max-width: 100%;
	padding: 10px 80px;
	background-color: #fff;
}

.text-bienv{
	width: 20%;
	float: left;
}

h5{
	margin: 0px;
	font-weight: 100;
	color: #999;
	font-size: 15px;
}

.nav_inicial{
	width: 80%;
	float: left;
	text-align: right;
}

.nav_inicial ul{
	margin: 0px;
}

.nav_inicial ul li{
	display: inline-block;
	color: #999;
	font-size: 15px;
	padding: 0 20px;
	border-right: solid 1px #999;

}

.nav_inicial ul li a{
	color: #999;

}

.nav_inicial ul li:last-child{
	border-right: none;
	padding: 0 0 0 20px;

}


/* Fin de primer nav */

/* Inicio de segunda parte del header */

.inicio{
	height: 80px;
	background-color: #fff;
	padding: 45px 80px;

}

.logo{
	height: 80px;
	width: 20%;
	float: left;
}

.buscador_contenedor{
	width: 50%;
	float: left;
	height: 45px;
	margin: 1.5% 6%;
	border: solid 3px #0087ca;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
}

.buscador{
	width: 60%;
	height: 44px;
	
	float: left;
}

#buscar{
	height: 100%;
	width: 90%;
	border:none;
	background-color: transparent;
	padding: 0 5%;
	font-size: 17px;
	float: left;
}

.b_separador{
	width: 2px;
	height:30px;
	background-color: #ccc;
	float: left;
	margin: 1.2% 0;
}

.b_categoria{
	width: 23%;
    float: left;
    padding: 1.5%;
}

select {
    box-sizing: border-box;
    color: #999;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 17px;
    width: 100%;
}

.b_boton{
	width: 13.64%;
	height: 45px;
	background-color: #0087ca;
	float: right;
	border-radius: 0px 35px 35px 0px;
}

.b_boton_icon{
	background-color: transparent; 
	border:none; 
	width: 100%; 
	height: 44px; 
	padding: 0 10% 0 0; 
	cursor: pointer;
}

.search_icon{
	font-size: 21px; 
	color: #fff;
}

.cart_contenedor{
	width: 17%;
    height: 22px;
    float: left;
    padding: 29px 0;
}

.favoritos{
	width: 50%;
	float: left;
	text-align: center;

}

.fav_icon{
	font-size: 22px; 
	color: #0087ca;
}

.cart{
	width: 50px;
	float: left;
	text-align: center;
}

.cart_icon{
	font-size: 22px; 
	color: #0087ca;
}

.numb{
	background-color: #ffa013;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 15px;
	text-align: center;
	color: #fff;
	font-weight: 900;
	z-index: 9;
	float: right;
	position: relative;
	top: 10px;
	left: -35px;
}
/* Fin de segunda parte del header */
/* Inicio NAV */

nav{
	background-color: #0087ca;
	max-width:100%;
	padding: 0px 80px;
}

nav ul{
	text-align: center;
    padding: 18px;
    margin: 0px;
}

nav ul li{
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	padding: 0 20px;
	border-right: solid 1px #fff;
}

nav ul li:last-child{
	padding: 0 0 0 20px;
	border-right: none;
}

nav ul li a{
	color: #fff;
}

a{
	text-decoration: none;
}

/* Fin NAV */
/* Inicio Banner */

.banner_container{
	width: 100%;
	height: 400px;
	background-image: url("../images/banner1.jpg");
	background-color: #cccccc;
}

.mitad{
	width: 50%;
	height: 100%;
	float: left;
}

.foto_prod_banner{
	margin: 45px 0 45px 0;
}

.banner_title{
	width: 400px;
	padding: 15px;
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: 25px;
	text-transform: uppercase;
	background-color: #0087ca;
	margin: 100px 60px 0 0;
	box-shadow: 7px 7px 20px #000;
	-webkit-box-shadow: 7px 7px 20px #000;
	-moz-box-shadow: 7px 7px 20px #000;
	-ms-box-shadow: 7px 7px 20px #000;
	border-radius: 30px 0 30px 0;
	-webkit-border-radius: 30px 0 30px 0;
	-moz-border-radius: 30px 0 30px 0;
	-ms-border-radius: 30px 0 30px 0;
	float: right;

}

.banner_subtitle{
	width: 230px;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	background-color: #ffa013;
	margin: 0 240px 0 0;
	box-shadow: 7px 7px 20px #000;
	-webkit-box-shadow: 7px 7px 20px #000;
	-moz-box-shadow: 7px 7px 20px #000;
	-ms-box-shadow: 7px 7px 20px #000;
	border-radius: 0 0 0 30px;
	float: right;
}

.boton_comprar{
	width: 145px;
	background-color: #234b91;
	padding: 18px;
	font-size: 17px;
	color: #fff;
	font-weight: 400;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	text-transform: uppercase;
	margin: 50px 200px 0 0;
	cursor: pointer;
	clear: both;
    float: right;
}


.boton_comprar a{
	color: #fff;
	cursor: pointer;
	
}


/* Fin Banner */

/* Inicio Productos */

.prod_contenedor{
	max-width: 100%;
	padding: 5% 7%;
}

.prod_contenedor ul{
	padding: 0;
	margin: 0;
}

.prod_contenedor ul li{
	width: 20.85%;
	height: 350px;
	float: left;
	margin: 0 0 20px 0;
	padding: 2%;
	background-color: #f7f7f7;
	border-right: solid 2px #e8e8e8;
	list-style: none;
	text-align: center;
}

.prod_contenedor ul li:nth-child(4n+0){
	border-right: none;
}


.clear_fix{
	clear: both;
	
}

.prod_title{
	width: 100%;
	margin-bottom: 20px; 
	border-bottom: solid 2px #ccc;
}

.prod_title h1{
	width: 255px;
	font-size: 23px;
	margin: 0;
	padding: 0;
	border-bottom: solid 4px #ffa013;
	position: relative;
	bottom:-3px;
	color: #234b91;
}

.boton_comprar2{
	background-color: #234b91;
	padding: 14px;
	font-size: 12px;
	color: #fff;
	font-weight: 400;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	text-transform: uppercase;
	margin-top: 20px; 
	cursor: pointer;
	
}

.boton_comprar2 a{
	color: #fff;
	
}

p{
	margin: 0;
}

.price{
	color: red;
	position: relative;
	top: -7px;

}

.fav{
	width: 10%;

}

/* Fin Productos */

/* Inicio Footer */
footer{

	background-color: #000;
	color: #fff;
	z-index: 3;
	width: 100%;
	height: 50px;
	clear: both;
	position: relative;
	bottom: 0px;
	padding: 5px 0;


}

.container{
	max-width: 1100px;
	margin: 0 auto;
	position: relative;

}

/* Fin Footer */




